*{
    color: white;
}

.contenedor{
    background-color: black;
    margin: 0%;
}
nav{
    background-image: url(img/Background_nav.jpg);
    border-bottom: 3px solid gray;
}
footer{
    background-image: url(img/Background_nav.jpg);
    border-top: 3px solid gray;
}
header{
    height: 800px;
}
section{
    border-top: 3px solid gray;
    background-color: rgb(8, 7, 8);
    margin: 0;
    border-bottom: 3px solid gray;
}

.logo{
    display: block;
    width: 416px;
    height: 200px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: absolute;
    z-index: 1;
}
.navegacion{
    width: 810px;
    height: 116px;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}
.div_nav{
    width: 70%;
    height: 116px;
    margin: 0 auto;
    display: flex;
    font-family: Cambria,Georgia,serif;
}
ul.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.horizontal-list li {
    display: inline;
    margin-right: 20px;
    font-size: 40px;
}
.separacion_lista{
    padding-top: 40px;
}
.img_header{
    width: 100%;
    height: 100%;
    z-index: 0;
}
.borde{
    background-color: #ffffff; /* Color de fondo del elemento */
    border: 1px solid #dddddd; /* Borde sólido opcional */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.separacion_lista_foter{
    margin-right: 100px;
}
.div_footer{
    width: 50%;
    height: 116px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}
.div_section{
    width: 80%;
    height: 980px;
    margin: 0 auto;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}
.contenedor_2{
    margin-right: 40px;
    width: 75%;
}
.contenedor_derecho{
    margin: 0%;
    width: 25%;
    height: 300px;
}
.color_fondo_derecho{
    background-color: rgb(27, 27, 27);
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.img_derecha{
    width: 100%;
    height: 300px;
}
h1{
    text-align: center;
}
.color_fondo_izquierdo{
    background-color: rgb(27, 27, 27);
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.facciones{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    justify-content: space-around;
}
.facciones_img{
    height: 400px;
    margin-right: 20px;
    border-radius: 5%;
    width: 900px;
}
.wow-text {
    font-family: 'Cinzel', sans-serif;
    font-size: 48px;
    color: #ffd100;
    text-shadow: 2px 2px 4px #000;
}
.boton{
    text-decoration: none;
    background-color: #e1ad12;
    color: rgb(49, 49, 49);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .3s ease;
    float: left;
}
.video{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.container_de {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual ancho */
    grid-template-rows: auto auto auto; /* 3 filas automáticas de altura */
    gap: 10px; /* Espacio entre las celdas (opcional) */
}
hr {
    border: none; /* Elimina el borde predeterminado */
    border-top: 2px solid #333; /* Agrega una línea horizontal de 2 píxeles de grosor */
    margin: 20px 0; /* Espacio superior e inferior */
}
.text_izq{
    text-align: left;
}
.text_der{
    text-align: right;
}
.barra_redes{
    margin: 0 auto;
    padding: 1px;
    background-color: #333;
    justify-content: center;
    font-size: 20px;
    display: flex;
}
.imagenes_redes{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 30px;
}