*{
    color: white;
}

.fondo{
    background-image: url(img/patron.jpg);
    align-items: center;
    text-align: center;
}
.container{
    background-image: url(img/fondo_container.avif);
    background-size: cover;
    text-align: center;
    font-size: 25px;
    width: 90%;
    margin: auto;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 10px;
}
.barra_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: white;
}
.img_logo{
    width: 30px;
    height: 30px;
}
.texto{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.distribucion_1 {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}
li{
    list-style: none;
}
.contenedor_2{
    width: 90%; 
    margin: auto;
}
.el_footer{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: left;
    padding-right: 40px;
}