*{
    color: white;
}

.contenedor{
    background-color: black;
}
nav{
    background-image: url(img/Background_nav.jpg);
    border-bottom: 3px solid gray;
}
.logo{
    display: block;
    width: 416px;
    height: 200px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: absolute;
    z-index: 1;
}
.navegacion{
    width: 810px;
    height: 116px;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}
.div_nav{
    width: 70%;
    height: 116px;
    margin: 0 auto;
    display: flex;
}
ul.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.horizontal-list li {
    display: inline;
    margin-right: 20px;
    font-size: 40px;
}
.separacion_lista{
    padding-top: 40px;
}
.img_header{
    width: 100%;
    z-index: 0;
    position: absolute;
}
.borde{
    background-color: #ffffff; /* Color de fondo del elemento */
    border: 1px solid #dddddd; /* Borde sólido opcional */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
